body {
    margin: 0;
}

.header {
    align-content: center;
    background-color: black;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 25px;
}

.title {
    color: white;
    margin: 0;
    align-self: center;
    padding: 10px;
}

.main-container {
    width: 100%;
}

.card {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 2px #333333;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.title-podcast {
    border-bottom: solid 0.25px #111111;
    box-sizing: border-box;
    color:black;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: auto;
    padding: 5px;
    width: 100px;
}    

.img-container {
    width: 240px;
    margin: 20px 0;
}

.img {
    max-width: 100%;
}

.card .text-article {
    color: rgb(85, 76, 76);
    margin: 0;
    padding-bottom: 20px;
    z-index: 910;
}

.listen {
    background-color: orangered;
    border-radius: 5px;
    box-shadow: 0 1 5px #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
}


@media (min-width: 320px) {
    body {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .header {
        position: relative;
        width: 100%;
    }

    .menu-button {
        border: none;
        background: none;
        padding: 0;
    }
    
    .menu-button label {
        display: inline-block;
        padding: 10px;
    }
    
    nav {
        background-color: #333;
        border-bottom: 1px solid #333;
        left: 0;
        opacity: 90%;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        top: 75px;
        width: 100%;   
    }
    
    nav a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px;
    }
    
    nav,
    #input-menu {
        display: none;
    }
    
    #input-menu {
        display: none;
    }
    
    #input-menu:hover {
        cursor: pointer;
    }
    
    #input-menu:checked ~ nav {
        display: block;
    }

    .menu-nav a:hover {
        background-color: tomato;
    }
    

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .card {

        max-width: 100%;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-wrap: wrap;
        
      }
    
      .header {
        align-content: center;
        background-color: black;
        display: flex;
        height: 75px;
        justify-content: space-between;
        padding: 0 25px;
    }
    
    .main-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    nav {
        align-content: center;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }
    
        #input-menu {
            display: none;
        }
        
    .card {
        width: 280px;
    }
}

@media (min-width: 1024px) {
    #input-menu {
    display: none;
}

    nav {
        display: inline-block;
    }

    .menu-nav a:hover {
        color: tomato;
    }
}